%table{:border => 0, :class => "table_list_hosts"}
	%tr
		%th.host_state{:align => "center", :valign => "middle"} state
		%th.host_name{:align => "center", :valign => "middle"} Host
		%th.host_icon{:align => "center", :valign => "middle"} Icon
		%th.srvc_ok{:align => "center", :valign => "middle"} OK
		%th.srvc_warn{:align => "center", :valign => "middle"} Warn
		%th.srvc_unkn{:align => "center", :valign => "middle"} Unkn
		%th.srvc_crit{:align => "center", :valign => "middle"} Crit
		%th.srvc_pend{:align => "center", :valign => "middle"} Pend
		%th.nbsp{:align => "center", :valign => "middle"} &nbsp;
		%th.host_state{:align => "center", :valign => "middle"} state
		%th.host_name{:align => "center", :valign => "middle"} Host
		%th.host_icon{:align => "center", :valign => "middle"} Icon
		%th.srvc_ok{:align => "center", :valign => "middle"} OK
		%th.srvc_warn{:align => "center", :valign => "middle"} Warn
		%th.srvc_unkn{:align => "center", :valign => "middle"} Unkn
		%th.srvc_crit{:align => "center", :valign => "middle"} Crit
		%th.srvc_pend{:align => "center", :valign => "middle"} Pend
	- col = 0
	- @allhosts.each do |host|
		- if col == 0
			<tr>
		%td{:class => "host_state_#{human_state(host[:state])[0].downcase}", :align => "center", :valign => "middle"}= human_state(host[:state])[0]
		%td.host_name{:align => "center", :valign => "middle"}= host[:name]
		%td.host_icon{:align => "center", :valign => "middle"}
			%img{:src => "http://monitorix.fr.srv.rhaamo.li/nagios3/images/logos/#{host[:icon_image]}", :alt => host[:icon_image_alt], :width => "20", :height => "20", :border => "0"}
			
		- (host[:num_services_ok] > 0) ? c_ok = "srvc_ok" : c_ok = ""
		%td{:align => "center", :valign => "middle", :class => c_ok}
			= host[:num_services_ok]
		
		- (host[:num_services_warn] > 0) ? c_warn = "srvc_warn" : c_warn = ""
		%td{:align => "center", :valign => "middle", :class => c_warn}
			= host[:num_services_warn]
		
		- (host[:num_services_unknown] > 0) ? c_unk = "srvc_unkn" : c_unk = ""
		%td{:align => "center", :valign => "middle", :class => c_unk}
			= host[:num_services_unknown]
		
		- (host[:num_services_crit] > 0) ? c_crit = "srvc_crit" : c_crit = ""
		%td{:align => "center", :valign => "middle", :class => c_crit}
			= host[:num_services_crit]
		
		- (host[:num_services_pending] > 0) ? c_pend = "srvc_pend" : c_pend = ""
		%td{:align => "center", :valign => "middle", :class => c_pend}
			= host[:num_services_pending]
		
		- if col == 0
			%td.nbsp{:align => "center", :valign => "middle"} &nbsp;
		- col += 1
		- if col == 2
			</tr>
			- col = 0