.grid_4.alpha
	%center
		%span#hostinfo_name
			= @host[:alias]
		%span#hostinfo_address
			(
			= @host[:address]
			)
		%br
		%span#hostinfo_members_groups
			Member of:
			%br
			= @host[:groups].reverse.join(", ")
		%br
		%br
		%img{:src => "/img/#{@host[:icon_image]}", :alt => @host[:icon_image_alt], :border => "0"}
		%br
		%span#hostinfo_notes
			= @host[:notes]

.grid_8.omega.extinfos_right
	%table{:border => 0, :class => "table_host_extinfos", :width => "100%"}
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Host Status:
			%td
				- host_status = nagios_short_host_state_names(@host[:state])
				%span{:class => "host_status_#{host_status.downcase}"}= host_status
			- # Use last_time_down or last_time_unreachable for (for 0d 3mins)... ?
			
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Status Information:
			%td= @host[:plugin_output]
			
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Performance Data:
			%td= @host[:perf_data]
			
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Current Attempt:
			%td
				= @host[:current_attempt]
				\/
				= @host[:max_check_attempts]
				
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Last Check Time:
			%td= Time.at(@host[:last_check])
			
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Check Type:
			%td= nagios_check_type(@host[:check_type])
			
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Check Latency / Duration:
			%td
				= @host[:latency]
				\/
				= (@host[:execution_time] * 1000).round.to_f / 1000
				
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Next Scheduled Active Check:
			%td= Time.at(@host[:next_check])
			
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Last State Change:
			%td= Time.at(@host[:last_state_change])
		- # Add Last Notification ?
		
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Is This Host Flapping?
			%td
				- host_flapping = number_to_human(@host[:is_flapping])
				%span{:class => "flapping_#{host_flapping.downcase}"}= host_flapping
		- # Add Is in scheduled downtime ?
		
		%tr{:class => cycle("extinfo_row0", "extinfo_row1")}
			%td Last Update:
			%td= Time.at(@host[:last_time_up])
	
	%table{:border => 0, :class => "table_host_extinfos_check_things", :width => "100%"}
		%tr
			%td
				Active Checks:
			%td
				- active_check = number_to_enabledisable(@host[:active_checks_enabled])
				%span{:class => active_check.downcase}= active_check
			%td
				Passive Checks:
			%td
				- passive_checks = number_to_enabledisable(@host[:accept_passive_checks])
				%span{:class => passive_checks.downcase}= passive_checks
			%td
				Obsessing:
			%td
				- obsessing = number_to_enabledisable(@host[:obsess_over_host])
				%span{:class => obsessing.downcase}= obsessing
		%tr
			%td
				Notifications:
			%td
				- notifications = number_to_enabledisable(@host[:notifications_enabled])
				%span{:class => notifications.downcase}= notifications
			%td
				Event Handler:
			%td
				- event_handler = number_to_enabledisable(@host[:event_handler_enabled])
				%span{:class => event_handler.downcase}= event_handler
			%td
				Flap Detection:
			%td
				- flap_detection = number_to_enabledisable(@host[:flap_detection_enabled])
				%span{:class => flap_detection.downcase}= flap_detection
	
.clear