%center
	%span#hostinfo_name
		= @host[:alias]
	%br
	%span#hostinfo_address
		(
		= @host[:address]
		)
%br
%center
	%span#hostinfo_members_groups
		Member of
		= @host[:groups].reverse.join(", ")
	%br
	%br
	%img{:src => "http://monitorix.fr.srv.rhaamo.li/nagios3/images/logos/#{@host[:icon_image]}", :alt => @host[:icon_image_alt], :border => "0"}
	%br
	%span#hostinfo_notes
		= @host[:notes]